---
Checks: "*,-modernize-use-trailing-return-type,-modernize-avoid-c-arrays,-llvmlibc*,-fuchsia*,-readability-magic-numbers,-hicpp*,-llvm-header-guard,-google-readability-todo,-OCUnusedMacroInspection,-altera-struct-pack-align,-readability-convert-member-functions-to-static,-modernize-use-nodiscard"
HeaderFilterRegex: '^(?!emscripten\/|system\/|3rdparty\/).*$'
AnalyzeTemporaryDtors: true
UseColor: true
...
