# URL to `osxcross.tar.xz` file containing osxcross toolchain
# distribution (https://github.com/tpoechtrager/osxcross) used for cross-compilation
# from Linux to macOS. See `tools/osxcross/README.md` for instructions on how to
# produce it. Refer to osxcross documentation for more info.
# This is only needed if you are on Linux and want to produce binaries for macOS.
OSXCROSS_URL=http://example.com/osxcross/osxcross.tar.xz

FULL_DOMAIN=autodetect

WEB_PORT_DEV=3000
WEB_PORT_PROD=8080

DATA_LOCAL_PORT=3001

NEXT_TELEMETRY_DISABLED=1
RECOIL_DUPLICATE_ATOM_KEY_CHECKING_ENABLED=false

DEV_ENABLE_TYPE_CHECKS=1
DEV_ENABLE_ESLINT=1
DEV_ENABLE_STYLELINT=1

PROD_ENABLE_SOURCE_MAPS=1
PROD_ENABLE_TYPE_CHECKS=1
PROD_ENABLE_ESLINT=1
PROD_ENABLE_STYLELINT=1

ANALYZE=0
PROFILE=0

# URL of Nextclade datasets server. See: https://github.com/neherlab/nextclade_data
# Replace this with `http://localhost:3001` to use local data server instead
DATA_FULL_DOMAIN=https://data.master.clades.nextstrain.org/v3
# DATA_FULL_DOMAIN=http://localhost:3001

# If enabled, Nextclade Web will first attempt to fetch datasets from the corresponding GitHub branch. If this attempt
# fails, it will use `DATA_FULL_DOMAIN` as usual.
DATA_TRY_GITHUB_BRANCH=0
