DEV_CLI_OPTIONS="--verbose --in-order --sequences=data/SARS-CoV-2/sequences.fasta --reference=data/SARS-CoV-2/reference.fasta --genemap=data/SARS-CoV-2/genemap.gff --genes=E,M,N,ORF10,ORF14,ORF1a,ORF1b,ORF3a,ORF6,ORF7a,ORF7b,ORF8,ORF9b,S --output-dir=tmp/ --output-basename=nextalign --include-reference"

DEV_NEXTCLADE_CLI_OPTIONS="--verbose --in-order --input-fasta=data/SARS-CoV-2/sequences.fasta --input-root-seq=packages/web/src/algorithms/defaults/sars-cov-2/rootSeq.txt --input-gene-map=data/SARS-CoV-2/genemap.gff --input-tree=packages/web/src/algorithms/defaults/sars-cov-2/tree.json --input-qc-config=packages/web/src/algorithms/defaults/sars-cov-2/qcConfig.json --input-pcr-primers=packages/web/src/algorithms/defaults/sars-cov-2/pcrPrimers.csv --output-json=tmp/nextclade.json --output-csv=tmp/nextclade.csv"
