*.bak
*.log
/build/
/data_dev*/
/data_local*
/docs/build/
/e2e/cli/snapshots/
/e2e/cli/tmp/
/example-data/
/packages/*/target/
/packages/nextclade-web/src/gen
/paper/paper.pdf
/paper/preprint.pdf
/paper/tex2pdf*
/target/
/tmp*/
\.build
\.cache
\.downloads
\.DS_Store
\.DS_Store?
\.env
\.idea
\.ignore
\.json-autotranslate-cache
\.out
\.reports
\.Spotlight-V100
\.temp
\.tmp
\.Trashes
\.vscode/*
ehthumbs.db
node_modules/
Thumbs.db
