*.log
3rdparty/binutils
3rdparty/gcc
3rdparty/llvm
Thumbs.db
\.DS_Store
\.DS_Store?
\.Spotlight-V100
\.Trashes
\.build
\.cache
\.env
\.idea
\.ignore
\.out
\.reports
\.temp
\.tmp
\.vscode
dist/
ehthumbs.db
nextalign_benchmarks.json
node_modules
tmp
