*.bak
*.log
/3rdparty/binutils/
/3rdparty/gcc/
/3rdparty/llvm/
/assets/
/build/
/data_dev/
/data_local*
/docs/build/
/e2e/cli/snapshots/
/e2e/cli/tmp/
/paper/paper.pdf
/paper/preprint.pdf
/paper/tex2pdf*
/tmp/
Brewfile.lock.json
Thumbs.db
\.DS_Store
\.DS_Store?
\.Spotlight-V100
\.Trashes
\.build
\.cache
\.env
\.idea
\.ignore
\.out
\.reports
\.temp
\.tmp
\.vscode
dist/
ehthumbs.db
generated/
nextalign_benchmarks.json
node_modules/
