@import '../variables';

.card {
  .card-header {
    color: $gray-200;
    background-color: $gray-700;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
  }

  .card-body {
    background-color: $body-bg;
    border: none;
  }

  .card-footer {
    color: $gray-200;
    background-color: $body-bg;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
  }
}
