@import '../variables';

.gene-map-wrapper {
  width: 100%;
  height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.gene-map-body {
  background-color: $gray-100;
  border-bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.gene-map-background {
  fill: transparent;
}

.gene-map-label {
  font-size: 0.75rem;
}
