@import '../variables';

.layout-container {
  max-width: 1700px;
}

.landing-page-row {
  width: 100%;
  height: 100%;
  background-color: $gray-100;
}

.hero-bg {
  height: 450px;

  .hero-h1 {
    font-weight: bold;
    font-size: 46px;
    color: $gray-600;
  }

  .hero-h2 {
    font-weight: 500;
    font-size: 22px;
    color: $gray-700;
  }
}

.hero-content {
  position: relative;
  top: -225px;
  margin: 20px;
  text-align: center;

  .hero-content-right {
    color: #C4B945;
    margin-bottom: 20px;
  }

  .hero-content-left {
  }

  .hero-feature-box {
    padding: 20px 10px;
    border-radius: 3px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));

    .hero-h3 {
      font-size: 20px;
      font-weight: bold;
    }

    &.hero-feature-box-top {
      background-color: $gray-100;
      color: #3a6598;
    }

    &.hero-feature-box-bottom {
      background-color: $gray-100;
      color: #6d9239;
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
    }
  }
}

.btn-select-file {
  width: 250px;
}

.sequence-input {
  font-family: $font-family-monospace;
  font-size: 0.75rem;
}

.button-transparent {
  background: none;
  outline: none;
  border: none;
}

.file-icon svg {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.main-info-section {
  position: relative;
  top: -200px;
  padding: 10px 50px;

  .main-dev-alert {
    width: 50%;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  }
}
