@import '../variables';

.layout-container {
  max-width: 1700px;
}

.landing-page-row {
  height: 100%;
  background-color: $gray-300;
}

.hero-bg {
  height: 450px;
  background-color: #6f42c1;
  color: #e3d5e9;

  .hero-h1 {
    font-weight: bold;
    font-size: 46px;
  }

  .hero-h2 {
    font-weight: 500;
    font-size: 22px;
  }

  .hero-h3 {
    font-size: 18px;
    font-weight: bold;
  }
}

.hero-content {
  position: relative;
  top: -225px;
  margin: 20px;
  text-align: center;

  .hero-content-right {
    color: #e3d5e9;
    margin-bottom: 20px;
  }

  .hero-content-left {
  }
}

.btn-select-file {
  width: 250px;
}

.sequence-input {
  font-family: $font-family-monospace;
  font-size: 0.75rem;
}

.button-transparent {
  background: none;
  outline: none;
  border: none;
}

.file-icon svg {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.main-brief-section {
  position: relative;
  top: -225px;
  width: 50%;
}

.main-info-section {
  position: relative;
  top: -225px;
}
