@import '../variables';

.layout-container {
  max-width: 1700px;
}

.landing-page-row {
  width: 100%;
  height: 100%;
  background-color: $body-bg;
}

.hero-bg {
  height: 450px;

  .hero-h2 {
    font-weight: 300;
    font-size: 30px;
    color: $gray-800;
  }
}

.hero-content {
  position: relative;
  top: -225px;
  margin: 20px;
  text-align: center;

  .hero-content-right {
    color: #c4b945;
    margin-bottom: 20px;
  }

  .hero-content-left {
  }

  .hero-feature-box {
    padding: 20px 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 2px rgba($gray-600, 0.25);

    .hero-h3 {
      font-size: 20px;
      font-weight: bold;
    }

    &.hero-feature-box-top {
      color: #3a6598;
    }

    &.hero-feature-box-bottom {
      color: #6d9239;
    }
  }
}

.btn-select-file {
  width: 250px;
}

.sequence-input {
  font-family: $font-family-monospace;
  font-size: 0.75rem;
  border-radius: 0;
  border: none;
}

.button-transparent {
  background: none;
  outline: none;
  border: none;
}

.file-icon svg {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.main-info-section {
  position: relative;
  top: -200px;
  padding: 10px 50px;

  .main-dev-alert {
    width: 50%;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  }
}

.main-to-results-btn {
  position: absolute;
  z-index: 1000;
  width: 140px;
}
