@import '../variables';

$upload-zone-fg: #6d64bf;
$upload-zone-fg-active: lighten($upload-zone-fg, 0.5);
$upload-zone-bg: #e1defe;

.upload-zone {
  height: 300px;
  cursor: pointer;
  background-color: $upload-zone-bg;
  border: 5px $upload-zone-fg dashed;
  border-radius: 5px;
  color: $gray-700;
  box-shadow: 2px 2px 5px 5px rgba($gray-700, 0.5);

  &.upload-zone-active {
    border: 5px $upload-zone-fg-active dashed;
    box-shadow: 2px 2px 5px 5px rgba($gray-500, 0.5);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.upload-icon {
  fill: $upload-zone-fg;
}
