[future-incompat-report]
frequency = 'always'

[profile.dev]
codegen-units = 256
incremental = true
lto = "off"

[profile.profiling]
inherits = "release"
debug = 1
strip = false
lto = "off"

# Optimize dependencies even in debug mode
[profile.dev.package."*"]
opt-level = 2
[profile.dev.package.backtrace]
opt-level = 3
[profile.dev.package.color-spantrace]
opt-level = 3
[profile.dev.package.tracing]
opt-level = 3
[profile.dev.package.tracing-error]
opt-level = 3
[profile.dev.package.tracing-subscriber]
opt-level = 3
[profile.dev.package.pretty_assertions]
opt-level = 3


[profile.opt-dev]
inherits = "dev"
codegen-units = 128
incremental = true
opt-level = 2
lto = "off"
panic = "abort"
strip = false

# Optimize dependencies even in debug mode
[profile.opt-dev.package."*"]
opt-level = 2
[profile.opt-dev.package.backtrace]
opt-level = 3
[profile.opt-dev.package.color-spantrace]
opt-level = 3
[profile.opt-dev.package.tracing]
opt-level = 3
[profile.opt-dev.package.tracing-error]
opt-level = 3
[profile.opt-dev.package.tracing-subscriber]
opt-level = 3
[profile.opt-dev.package.pretty_assertions]
opt-level = 3


[profile.release]
codegen-units = 1
incremental = false
lto = "fat"
opt-level = 3
panic = "abort"
strip = true

[profile.bench]
codegen-units = 1
incremental = false
lto = "fat"
opt-level = 3
strip = true

[profile.test]
debug = true

[profile.test.package."*"]
opt-level = 2
[profile.test.package.backtrace]
opt-level = 3
[profile.test.package.color-spantrace]
opt-level = 3
[profile.test.package.tracing]
opt-level = 3
[profile.test.package.tracing-error]
opt-level = 3
[profile.test.package.tracing-subscriber]
opt-level = 3
[profile.test.package.pretty_assertions]
opt-level = 3

