# Submit new version to Bioconda (https://github.com/bioconda/bioconda-recipes)
name: bioconda

on:
  release:
    types:
      - published

  repository_dispatch:
    types: bioconda

  workflow_dispatch:

  workflow_call:

concurrency:
  group: bioconda-${{ github.workflow }}-${{ github.ref_type }}-${{ github.event.pull_request.number || github.ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -euxo pipefail {0}

env:
  GITHUB_REPOSITORY_URL: ${{ github.server_url }}/${{ github.repository }}
  VERBOSE: 1

jobs:

  publish-to-bioconda:
    if: "!github.event.release.prerelease"

    name: "Publish to Bioconda"
    runs-on: ubuntu-22.04

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
          submodules: true

      - name: "Publish to Bioconda"
        id: bump-version
        shell: bash
        run: |
          export GITHUB_TOKEN="${{ secrets.GH_TOKEN_NEXTSTRAIN_BOT_REPO }}"

          mkdir -p "${HOME}/bin"
          export PATH="${HOME}/bin:${PATH}"
          GH_CLI_VERSION=$(./scripts/get-version gh)
          curl -fsSL "https://github.com/cli/cli/releases/download/v${GH_CLI_VERSION}/gh_${GH_CLI_VERSION}_linux_amd64.tar.gz" | tar xz -C "${HOME}/bin" --strip-components=2 "gh_${GH_CLI_VERSION}_linux_amd64/bin/gh"
          DASEL_VERSION=$(./scripts/get-version dasel)
          curl -fsSL "https://github.com/TomWright/dasel/releases/download/v${DASEL_VERSION}/dasel_linux_amd64" -o "${HOME}/bin/dasel" && chmod +x "${HOME}/bin/dasel"
          JQ_VERSION=$(./scripts/get-version jq)
          curl -fsSL "https://github.com/jqlang/jq/releases/download/jq-${JQ_VERSION}/jq-linux-amd64" -o ${HOME}/bin/jq && chmod +x ${HOME}/bin/jq

          git config --global user.email "${{ secrets.GIT_USER_EMAIL }}"
          git config --global user.name "${{ secrets.GIT_USER_NAME }}"

          ./scripts/publish_bioconda
