name: Deploy PR previews
concurrency: preview-${{ github.ref }}
on:
  pull_request:
    types:
      - closed
jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: "preview-build"
          preview-branch: "gh-pages"
          action: remove